<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>

<p>СТАМБУЛ - МОСТ МЕЖДУ ЕВРОПОЙ И АЗИЕЙ</p>

<p>Изумительный в своём многообразии город Стамбул является одним из древнейших на Земле. Он переходил из рук в руки бесчисленное множество раз, и все эти культуры и эпохи нанесли на него свой отпечаток, сделав его действительно уникальным. На этом сайте я расскажу Вам о краткой истории города, достопримечательностях, особенностях и интересных фактах. Приятного просмотра!</p>
<img src="image/dostoprimechatelnosti-stambula-kuda-shodit-chto-posmotret1.jpg">

<p>КРАТКАЯ ИСТОРИЯ ГОРОДА</p>
<p>Давным-давно, еще в затертом VII веке до нашей эры, когда центром европейской культуры была Древняя Греция, на берегу пролива Босфор (соединяющего Черное море с Средиземным) было основано маленькое гречесое поселение.
    По легенде, поселение основал Визант - персонаж древнегреческой мифологии, сын Посейдона и нимфы, товарищ и союзник Геракла. Судя по всему, Визант был довольно смышленным стратегом, потому как холмистый город у устья залива быстро стал богатым и неприступным полисом.
В итоге, могучий город, получивший в честь основателя имя Византий, в течение почти тысячелетия с успехом отстаивал свою независимость. В 342 году до н.э. его штурмовал отец самого Александра Македонского - конечно безуспешно.
Только в III веке уже нашей эры город вошел в состав Римской империи, вскоре став одним из важнейших имперских городов. Более того, в 323 году император Константин переместил столицу Римской империи в Византий, дав городу новую жизнь и имя - Второй Рим.
Правда, в народе прижилось название Константинополь (в честь этого монарха), и под этим названием город прожил еще одно тысячелетие. За это время Константинополь сумел пережить падение трех империй - Римской, Византийской и Латинской, непрестанно развиваясь и расширяясь.
На протяжении всего существования средневекового Константинополя, город был крупнейшим в Европе, центром и законодателем искусства, науки, культуры, политики. Однако всему приходит конец. Так, Константинополь, а с ним и Византия пали в 1453 году под натиском турок-осман с востока.
С этого времени начинается новый этап в жизни города. Константинополь стал столицей новой турецкой Османской империи, становился все больше и красивее. В качестве османской столицы город получил новое название - Стамбул (этимология доподлинно неизвестна).
Стамбул был резиденцией турецких султанов, домом для многих этносов, сердцем Османской империи на протяжении почти 500 лет. В 1922 империя Османов пала в результате внешних и внутренних распрей, а ее государство-преемник - Турция, переместила столицу в Анкару.
Однако даже с потерей статуса главного города страны, Стамбул остался важнейшим городом Турецкой Республики, каким остается и поныне.</p>
    <img src="image/i.webp">
<p>ГЛАВНЫЕ ДОСТОПРИМЕЧАТЕЛЬНОСТИ</p>

<p>1) Три Главные мечети</p>
<p>Айя-София, Голубая мечеть и Сулеймание — яркие представители переплетения исламской турецкой и христианской византийской архитектур. Настоятельно рекомендуем взять гида и послушать богатейшую историю мечетей во всех подробностях, потому что это беспрекословный must visit. </p>
<p>2) Дворец Топкапы</p>
<p>Дворец, построенный в 1479 году, был не только резиденцией османских султанов, но и административным и образовательным центром государства.
    Название переводится как «пушечные ворота», так как каждый раз, когда султан покидал свою роскошную резиденцию, должен был раздаваться пушечный выстрел. Здесь располагается богатейшая выставка экспонатов, принадлежавших правителям разных исторических периодов.</p>
<p>3) Цистерна Базилика</p>
<p>Строительство началось аж в 300-е годы при императоре Константине с целью хранения большого объёма воды на случай засухи или осады города. Цистерна имеет ёмкость на 100 000 тонн для хранения воды. Цистерну часто сравнивают с дворцом: внутри возвышаются 336 колонн, которые в совокупности с освещением выглядят поистине величественно. </p>
<p>4)Улица Истикляль и Таксим</p>
<p>Улица Истикляль — всемирно известная и самая шумная пешеходная улица в Стамбуле, которую ежедневно посещают более 3 000 000 человек!
    А площадь Таксим — популярное и густонаселённое место в Стамбуле. Здесь проходят массовые гулянья и празднования, именно через Таксим пролегают все туристические маршруты.</p>
<p>5)Галатская башня и мост</p>
<p>Галатская башня - визитная карточка Стамбула. Она была построена в XIV веке генуэзскими торговцами. Сегодня, с нее открывается волшебный вид.</p>
<img src="image/building-Turkey-Istanbul-sky-Galata-Tower-1591781.jpg">
<p>ИНТЕРЕСНЫЕ ФАКТЫ</p>
<p>1)Это единственный город в мире, расположенный одновременно и в Азии, и в Европе.</p>
<p>2)Стамбульский Гранд-базар — самый большой в мире крытый рынок. В нем более 4400 лавок и магазинов!</p>
<p>3)По-турецки и по-английски название города произносится, как «Истанбул».</p>
<p>4)Комнаты и залы стамбульского дворца Топкапы занимают площадь в 700 тысяч квадратных метров. Бывшая резиденция султанов - один из крупнейших дворцовых комплексов мира.</p>
<p>5)Самый знаменитый поезд в мире, «Восточный экспресс», прославленный благодаря произведению Агаты Кристи, курсирует между Стамбулом и Парижем</p>
<p>6)Гранд Базар в Стамбуле - самый большой крытый рынок мира. По различным данным, на 66 его улицах располагается больше 4000 различных лавок и магазинов.</p>
<p>7)За историю Константинополя в нем жили и правили своими державами 10 императоров Римской империи, 82 византийских правителя и 30 султанов Османской империи.</p>
<p>8)Во время съемок фильма о Джеймсе Бонде «Координаты Skyfall» английский шпион проехал по крыше стамбульского большого базара на мотоцикле. Работу рынка на время съемок останавливать на стали, и люди не имели понятия, что происходит над их головами. </p>
<p>9)Стамбул недаром называют городом кошек: их тут обожают, холят и лелеют. В городе повсюду можно увидеть из маленькие деревянные домики. В Турции уличные кошки считаются не бездомными, а общинными животными. Здесь их сотни тысяч.</p>
<p>10)Рахат-лукум — популярнейший восточный десерт и изобретен он в 18 веке именно в Стамбуле. Впервые его приготовил для султана придворный кондитер Хаджи Бекир, чей предприимчивый внук представил лакомство на выставке в Брюсселе, получил золотую медаль и наладил поставки в Европу.</p>
<img src="image/dac59a4560442624f6ce17be081685ae.jpg">

<p>ПОДВОДЯ ИТОГИ</p>
<p>Что такое Стамбул? Это богатейшая история, удивительное переплетение народов, культур и архитектуры, удивительное географическое расположение, компромисс культуры востока и запада, яркая манящая атмосфера, кошки. Стамбул просто обязательно нужно посетить!  </p>

<p>ПОДПИШИСЬ НА МЕНЯ</p>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Напиши меня (электронная почта)</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Ваши данные не будут известны даже нам.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Введи меня (пароль)</label>
        <input type="password" class="form-control" id="exampleInputPassword1">С сожалением сообщаем, что на данный момент возможность подписаться на рассылку сайта ограничена. В ближайшее время эта функция будет добавлена. Спасибо за понимание.
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Проверь меня</label>
    </div>
    <button type="submit" class="btn btn-primary">Отправь меня</button>

    <p>Автор: Васин Илья.</p>
    Благодарю за внимание.


</form>

</body>

</html>